@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l2rbjw');
  src:  url('fonts/icomoon.eot?l2rbjw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l2rbjw') format('truetype'),
    url('fonts/icomoon.woff?l2rbjw') format('woff'),
    url('fonts/icomoon.svg?l2rbjw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person_outline:before {
  content: "\e7ff";
}
.icon-person_add:before {
  content: "\e7fe";
}
